
<!-- EXERCICIO 01 -->
<!-- Tag para a chamado do componente card -->
<!-- <app-exercicio-um 
  title="Qualquer coisa" 
  subtitle="Sou uma legenda legal ^-^" 
  [body]="contentBody"
  >
</app-exercicio-um>

<app-exercicio-um 
  title="Qualquer coisa 2" 
  subtitle="Sou uma legenda triste :(" 
  [body]="contentBody"
  >
</app-exercicio-um> -->


<!-- EXERCICIO 02 -->
<!-- <app-exercicio-dois 
  title="Qualquer coisa 2" 
  subtitle="Sou uma legenda triste :(" 
  [body]="contentBody"
  [classHeader]="corHeader"
  [classBody]="corBody"
  (mudeCores)="trocarCores()"
  >
</app-exercicio-dois> -->


<!-- EXERCICIO 10 -->
<!-- <router-outlet></router-outlet> -->
